<html>

<head>
    <title>Rete Page</title>
    <link href="src/style.css" rel="stylesheet">
</head>

<body>
    <div class="node-editor" id="rete"></div>
    <div class="">
      <button type="button" name="button" id="to-json">toJSON</button>
    </div>
    a
    <input type="text" name="" value="" id="input-a">
    b
    <input type="text" name="" value="" id="input-b">
    <div id="text"></div>
    <script type="text/template" id="list-tpl" props="[list, a, b]" event="[detail, delete]">
      <% list.forEach(function(it) { %>
        <div @click="emit('detail')">${a}-${b}: ${it.name}</div>
        <div @click="emit('delete')">${a}-${b}: ${it.name}</div>
      <% }) %>
    </script>
    <script src="src/index.js"></script>
</body>

</html>
